*{
    margin: 0px;
    padding: 0px;
}
header{
    height:40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:10px;
    background-color: blueviolet;
   
}
header nav ul{
    display: flex;
    gap: 20px;
    padding-right:30px;
}
